.DS_Store
node_modules
/dist
npm-debug.log

# local env files
.env.local
.env.*.local
.env

# server config with API key
server/config.php

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
